{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/twombly4.jpg') }})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
	<p>
	Philosopher, programmer, software developer.
	Most comfortable with the Python ecosystem (Django, Flask), working knowledge of a few other technologies (C, JavaScript, Postgres, Linux, Git, Docker, Heroku). 
	</p>
      </div>
    </div>
  </div>

  <hr>
  {% include "footer.html" %}
