{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{{ ckeditor.load_code_theme() }}

{% block content %}
{% include "header.html" %}
  <!-- Page Header -->
  <header class="masthead"
    style="background-image: url('{{ url_for('static', filename='img/edit-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Sure you want to delete?</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <form class="delete-form" action="{{ url_for("main_bp.post_delete", post_id=post_id) }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <button class="btn btn-danger" type="submit">Delete</button>
    <a class="btn btn-primary" href="{{ url_for("main_bp.index") }}">Cancel</a>
  </form>

{% include "footer.html" %}
{% endblock %}
