{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/twombly3.jpg') }})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Register</h1>
            <span class="subheading">Hello there!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
	<form class="form" method="POST" role="form" novalidate=True>
	  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
	  <div clas="input-field">
	    {{ wtf.form_field(form.name) }}
	    {{ wtf.form_field(form.email) }}
	    {{ wtf.form_field(form.password) }}
	    {{ wtf.form_field(form.password2) }}
	    {{ wtf.form_field(form.register, class_="btn btn-primary") }}
	  </div>
	</form>
      </div>
    </div>
  </div>

{% include "footer.html" %}
{% endblock %}
